@import 'reset';
@import 'variables';
@import 'breakpoints';
@import 'typography';

a {
	display: inline-block;
	color: $color-text;
	border-bottom: 8px solid $color-primary;
	text-decoration: none;
	&:hover {
		color: lighten($color-text, 20);
		border-color: lighten($color-primary, 20);
	}
}

body {
	margin: 0;
	padding: 0;
	background-color: $color-bg;
	color: $color-text;
	font-family: $font-text;
	font-size: $size;
	>header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 2rem;
		margin: 0 auto;
		background-color: $color-bg;
		border-bottom: 4px solid $color-light;
		>h1 {
			margin: 0;
			font-size: 3rem;
			line-height: 1;
			font-family: $font-logo;
		}
		>nav {
			font-family: $font-title;
			font-weight: bold;
			font-size: 1.4rem;
		}
	}
}

#splash {
	display: flex;
	align-items: center;
	justify-content: center;
}

#error {
	@include typography;
}

article {
	@include typography;
}
