@import 'variables';
@import 'breakpoints';

$line-height: 1.68em;

@font-face {
	font-family: 'Source Serif Pro';
	font-weight: normal;
	src: url('/assets/fonts/SourceSerifPro-Regular.ttf');
};

@font-face {
	font-family: 'Source Serif Pro';
	font-weight: bold;
	src: url('/assets/fonts/SourceSerifPro-Bold.ttf');
};

@mixin section {
	max-width: $width;
	margin-left: auto;
	margin-right: auto;
	padding: 0 3rem;
	font-size: 21px;
	@include for-phone-only {
		font-size: $size;
		padding: 0 2rem;
	};
}

@mixin typography {
	strong {
		font-weight: bold;
	}
	.block, blockquote, code, h1, h2, h3, h4, h5, h6, p, pre {
		@include section;
	}
	p, ul, ol, li, blockquote, pre, code, .block {
	  font-family: $font-text;
	  font-weight: 400;
	  font-style: normal;
	  line-height: $line-height;
	  letter-spacing: -.003em;
		color: lighten($color-text, 12.5%);
	}
	p, .block, blockquote, pre, code {
		margin-bottom: 2rem;
	}
	ul {
		list-style: disc;
		padding-left: 1rem;
	}
	h1, h2, h3, h4 {
		font-family: $font-title;
		font-weight: bold;
		margin-bottom: 2rem;
		margin-top: 4rem;
		letter-spacing: -.009em;
		a.heading-permalink {
			visibility: hidden;
			text-decoration: none;
			border: none;
			color: #DDD;
			margin-left: 1rem;
		}
		&:hover {
			a.heading-permalink {
				visibility: visible;
			}
		}
	}
	h1 {
		margin-top: 6rem;
		font-size: 4rem;
		line-height: 1.11;
		margin-bottom: 8rem;
		>span {
			border-bottom: 2rem solid transparentize($color-secondary, 0.88);
		}
		@include for-phone-only {
			font-size: 3rem;
			margin-top: 3rem;
			margin-bottom: 6rem;
		}
	}
	h2 {
		font-size: 2.75rem;
	}
	h3 {
		font-size: 2rem;
	}

	hr {
		height: 4px;
		background-color: $color-light;
		border: none;
		margin: 4rem 0;
	}

	>img {
		width: 100%;
		margin: 0 0 2rem 0;
	}
	p > img.pull-left {
		display: block;
		margin: 3em 0;
		@include for-desktop-up {
			width: 0.75 * $width;
	    margin-left: -0.25 * $width;
	    float: left;
	    margin-right: 3em;
	    margin-top: $line-height;
	    margin-bottom: $line-height;
		}
	}

	// Code
	pre, code {
		font-family: 'Bitstream Vera Sans Mono', 'Monaco', 'Courier', monospace;
	}

	// Big first letter
	header + p > strong:first-child > em:first-child,
	h1 + p > strong:first-child > em:first-child,
	p > strong > em.first-letter {
		color: $color-primary;
		font-weight: normal;
		font-size: 9rem;
		line-height: 5rem;
		margin-right: 0.5rem;
		display: block;
		height: 5rem;
		float: left;
		@include for-phone-only {
			font-size: 8rem;
		}
	}
}
