// $color-primary: #ff1142;
$color-bg: #fff;
$color-light: #efede6;
$color-text: #191212;
$color-accent: #1C776B;
$color-primary: #DA2F27;
$color-secondary: #0A4B57;
$font-logo: 'Comfortaa', serif;
$font-text: 'Source Serif Pro', Georgia, Cambria, 'Times New Roman', Times, serif;
$font-title: 'Roboto', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
$size: 18px;
$width: 740px;

// Alternate color schemes
// ---------------------------------------
// #efede6
// #191212
// #a38455
// #ec4e26
// #a78f89
// ---------------------------------------
// #f4f5f4
// #a5a2a2
// #ec4e26
// #ac8265
// #2b292c
// ---------------------------------------
// #3C4950
// #0BB1A4
// #90D86A
// #F7DF6E
// #E73923
// ---------------------------------------
// #0A4B57
// #1C776B
// #AFB787
// #D8C388
// #DA2F27
// ---------------------------------------
